  body
  {
    color: white;
    background: rgb(98, 180, 123);
  }
  .heading
  {
    width: 80%;
    font-size: 22px;
  }
  #camera 
  {
    border: 2px dashed rgb(8, 6, 119);
    width: 350px;
    height: 300px; 
  }
  .name_of_objects, #result_object_name  , #result_object_accuracy
  {
    color: rgb(255, 255, 255);
  }
